- @title = "Tiny Url Clone Home"
.row
  %h1
    Url Tiny Home
  - unless @link.nil?
    .success
      %code= @link.url.original
      has been shortened to
      %a{:href => "/#{@link.lidentifier}"}
        = "http://tinyclone.saush.com/#{@link.lidentifier}"
      %br
      Go to
      %a{:href => "/info/#{@link.lidentifier}"}
        = "http://tinyclone.saush.com/info/#{@link.lidentifier}"
      to get more information about this link.
  - if env['sinatra.error']
    .error= env['sinatra.error']
  %form{:method => 'post', :action => '/tinyurl'}
    Shorten this:
    %input{:type => 'text', :name => 'original', :size => '70'}
    %input{:type => 'submit', :value => 'now!'}
    %br
    to http://tinyclone.saush.com/
    %input{:type => 'text', :name => 'custom', :size => '20'}
    (optional)
